---
title: Welcome
---
<!DOCTYPE html>
<html>
<head>
  <title>June Yolcuepa</title>
  <style>
    .header {
        width: 100%;
        height: 30px;
        position: fixed;
        background-color: #fff6f4;
        display: block;
        overflow: hidden;
        top: 0;
        left: 0;

      }

    .footer {

      width: 100%;
      height: 30px;
      display: block;
      background-color: #fff6f4;
      position: fixed;
      bottom:0;

    }
    .landing_left_side {
       width:30px;
       height: 100%;
       position: fixed;
       background-color: #fff6f4;
       float:left;
       top: 30px;
       left: 0;
       display: block;
    }

    .landing_right_side {
       width:30px;
       height: 100%;
       position: fixed;
       background-color: #fff6f4;
       float:right;
       top: 30px;
       right: 0;
    }


    .landing_diagonal_top {
       background:#d62246;
       z-index: -1;
       position: absolute;
       bottom: 0px;
       width: 100%;
       height: 100%;
       -webkit-clip-path: polygon(0 75%, 85% 0, 0 0);
       clip-path: polygon(0 75%, 85% 0, 0 0);
       -webkit-shape-outside: polygon(0 75%, 85% 0, 0 0);
    }

    .landing_diagonal_middle {
      background:#f76343;
      z-index: -1;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100%;
      -webkit-clip-path: polygon(0 29%, 100% 28%, 100% 100%, 38% 100%);
      clip-path: polygon(0 29%, 100% 28%, 100% 100%, 38% 100%);
      -webkit-shape-outside: polygon(0 29%, 100% 28%, 100% 100%, 38% 100%);
    }

    .landing_diagonal_bottom {
      background:#4b1d3f;
       z-index: -1;
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100%;
      -webkit-clip-path: polygon(100% 100%, 25% 100%, 100% 50%);
      clip-path: polygon(100% 100%, 25% 100%, 100% 50%);
      -webkit-shape-outside: polygon(100% 100%, 25% 100%, 100% 50%);
    }

    .page-container {
        background-color: #fff6f4;
        width:100%;
        height: 100%;
        position: fixed;
        z-index: -1;

    }

  .text-container-top {
    text-align: left;
     font-size: 32px;
     padding-left: 35px;
     padding-top: 45px;
  }

  .text-container-mid {
     text-align: center;
     font-size: 32px;
     padding-top: 425px;
  }


  .text-container-bottom {
     text-align: right;
     font-size: 32px;
  }


  </style>

</head>


  <body>

    <div class="header">
    </div>

    <div class="landing_left_side"></div>
    <div class="landing_right_side"></div>

      <div class="page-container">

          <div class="landing_diagonal_top">
          </div>



        <a href="../resume.pdf">
          <div class="landing_diagonal_middle ">
            <div class="text-container-mid">
              <b>Resume</b>
            </div>

          </div>
        </a>



          <div class="landing_diagonal_bottom">
          </div>



       </div> <%# container %>
    <div class="footer">
    </div>

  </body>
</html>
